/* Phone */
@media only screen and (max-width: 600px) {
    section.menu-section {
        text-align: center;
        padding-bottom: 50%;
    }

    div.menu-card {
        margin-top: 60%;
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {
    section.menu-section {
        margin-top: -45%;
        text-align: center;
        margin-bottom: 20%;
    }

    div.menu-container {
        display: flex;
        justify-content: center;
    }

    div.menu-card {
        margin-top: 60%;
        width: 50%;
    }
}