table.user-table {
    table-layout:fixed;
    width:100%;
}

ul.detail-list {
    text-align: left;
}

div.add-user {
    margin-bottom: 2%;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    div.admin-body {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}