input[name=quantity]{
    text-align: center;
    margin-left: 2%;
}

div.event-header {
    width: 100%;
    height: 50vh;
    background-color: #1B1B1B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/event-header.jpg");
}

div.event-header-text {
    padding-top: 20%;
    font-family: Tahoma, Geneva, sans-serif;
}

div.event-header-text > h1 {
    font-size: 2rem;
}

div.event-dash {
    padding-top: 10%;
}

div.dash-counter {
    text-align: center;
    font-size: 20px;
}

div.artist-box {
    margin-top: 5%;
}

ul.tickets-list {
    margin-top: 10%;
}

span.artist-name {
    font-size: 40px;
}

section.ticket-section {
    height: 20vh;
}

th.sector-h {
    width: 32%;
}

th.tickets-h {
    width: 32%;
}

th.price-h {
    width: 21%;
}

th.button-h {
    width: 15%;
}

h4.artist-name {
    margin-top: 4%;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    div.event-header-text {
        padding-top: 1%;
    }

    div.event-header-text > h1 {
        font-size: 3rem;
        margin-bottom: 2.5%;
    }

    div.event-header-text > h2 {
        font-size: 2rem;
        margin-bottom: 2.5%;
    }

    div.event-header-text > h3 {
        font-size: 1.5rem;
        margin-bottom: 2.5%;
    }

    div.artist-box {
        margin-top: 2%;
    }

    h3.feat {
        font-size: 3rem;
    }

    h4.artist-name {
        font-size: 2rem;
        margin-top: 2%;
    }

    section.ticket-section {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    section.table-section {
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
