ul.list-events {
    list-style-type: none;
}

li.list-item-event:hover {
    border-color: #EA9C43;
}

div.category:hover {
    border-color: #EA9C43;
}

li.suggestion:hover {
    background-color: #007bff;
    color: white;
}

/* Phone */
@media only screen and (max-width: 600px) {

    .pull-right-mobile {
        float: right;
    }

    section.homepage-search-section {
        text-align: center;
        padding-top: 30vh;
        height: 100vh;
        background-color: #1B1B1B;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/background_concert.jpg");
    }
    
    div.search-container > h1 {
        font-size: 30px;
        color: white;
        text-shadow: 0 0 4px #EA9C43;
    }
    
    div.search-container > input {
        width: 85%;
        height: 40px;
        border-color: #FFFFFF;
        border-radius: 0.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    div.search-container > input::placeholder {
        font-size: 16px;
    }
    
    div.search-container > h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0 0 4px #EA9C43;
    }
    
    section.homepage-search-section > img.icon-arrow-down {
        width: 20%;
        height: 20%;
    }
    
    div.arrow-container > button.button-arrow-down {
        position: absolute;
        bottom: 0;
        z-index: 99;
    }
    
    section.homepage-discover-section {
        text-align: center;
    }
    
    section.homepage-discover-section > header.discover-header {
        background-color: #1B1B1B;
    }
    
    header.discover-header > h1 {
        padding-top: 2%;
        font-size: 40px;
        color: white;
    }
    
    section.homepage-discover-section > div.category-container {
        margin-top: 12%;
        margin-bottom: 12%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    div.category {
        background-color: whitesmoke;
        border: solid lightgray;
        border-width: 1px;
        border-left-width: 4px;
        border-left-color: #EA9C43;
        border-radius: 0.25em;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
        font-size: 20px;
    }
    
    div.category > button {
        width:100%;
        border-style: none;
        border-radius: 0.25em;
        color: #1B1B1B;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    section.homepage-events-section {
        text-align: center;
        height: 95vh;
    }
    
    
    section.homepage-events-section > header.events-header {
        background-color: #1B1B1B;
    }
    
    header.events-header > h1 {
        padding-top: 2%;
        font-size: 40px;
        color: white;
    }
    
    div.soon-card {
        margin-top: 5%;
        border-style: none;
        font-size: large;
    }
    
    ul.suggest-list {
        width: 100%;
    }
    
    li.list-item-event {
        background-color: whitesmoke;
        border-style: solid;
        border-width: 1px;
        border-radius: 0.25em;
        border-color: whitesmoke;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
        font-size: 20px;
    }
    
    div.modal-fullscreen {
        width: 100vw;
        height: 100vh;
        margin: 0 !important;
    }
    
    div.modal-content {
        height: auto;
        min-height: 100%;
        min-width: 100%;
        border-radius: 0;
    }
    
    button.close-search {
        width:40px;
        height:40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/arrow_left_black.png");
    }
    
    span.search-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/arrow_left_black.png");
    }

}

/* Desktop */
@media only screen and (min-width: 600px) {
    
    section.homepage-search-section {
        text-align: center;
        padding-top: 30vh;
        height: 100vh;
        background-color: #1B1B1B;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/background_concert.jpg");
    }
    
    div.search-container > h1 {
        font-size: 35px;
        color: white;
        text-shadow: 0 0 4px #EA9C43;
    }
    
    div.search-container > input {
        width: 40%;
        height: 60px;
        border-color: #FFFFFF;
        border-radius: 0.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    div.search-container > input::placeholder {
        font-size: 25px;
    }
    
    div.search-container > h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0 0 4px #EA9C43;
    }
    
    section.homepage-search-section > img.icon-arrow-down {
        width: 20%;
        height: 20%;
    }
    
    div.arrow-container > button.button-arrow-down {
        position: absolute;
        bottom: 0;
        z-index: 99;
    }
    
    section.homepage-discover-section {
        text-align: center;
        float: right;
        width: 30%;
        height: 120vh;
    }
    
    section.homepage-discover-section > header.discover-header {
        background-color: #1B1B1B;
    }
    
    header.discover-header > h1 {
        padding-top: 2%;
        font-size: 40px;
        color: white;
        height: 10vh;
    }
    
    section.homepage-discover-section > div.category-container {
        padding-top: 12%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    div.category {
        background-color: whitesmoke;
        border: solid lightgray;
        border-width: 1px;
        border-left-width: 4px;
        border-left-color: #EA9C43;
        border-radius: 0.25em;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: left;
        font-size: 25px;
    }
    
    div.category > button {
        width:100%;
        border-style: none;
        border-radius: 0.25em;
        color: #1B1B1B;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    section.homepage-events-section {
        text-align: center;
        width: 70%;
        height: 120vh;
    }
    
    
    section.homepage-events-section > header.events-header {
        background-color: #1B1B1B;
    }
    
    header.events-header > h1 {
        padding-top: 0.7%;
        font-size: 40px;
        color: white;
        height: 10vh;
    }
    
    div.soon-card {
        margin-top: 3.5%;
        border-style: none;
        font-size: large;
    }
    
    ul.suggest-list {
        width: 100%;
    }
    
    li.list-item-event {
        background-color: whitesmoke;
        border-style: solid;
        border-color: whitesmoke;
        border-width: 2px;
        border-radius: 0.25em;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
        font-size:20px;
    }
    
    div.modal-fullscreen {
        width: 100vw;
        height: 80vh;
    }
    
    div.modal-content {
        height: auto;
        min-height: 100%;
        min-width: 100%;
        border-radius: 0;
    }
    
    button.close-search {
        width:40px;
        height:40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/arrow_left_black.png");
    }

    div.search-bar {
        width:100% !important;
    }
    
    span.search-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/arrow_left_black.png");
    }

    div.desktop-block {
        display: inline-block;
    }
}