li.search-result-item {
    margin-top: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

li.search-result-item:hover {
    border-color: #EA9C43;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.justify-center-d {
    display: flex;
    justify-content: center;
}

/* Phone */
@media only screen and (max-width: 600px) {
    section.filter-section {
        padding-top: 10vh;
    }
    
    div.search-btn-container {
        margin-top: 5%;
        float: right;
    }
    
    ul.search-result-list {
        list-style-type: none;
        padding-left: 0;
    }
    
    span.result-name {
        font-size: 24px;
    }
    
    span.result-category {
        font-size: 24px;
    }
    
    span.result-place {
        font-size: 20px;
    }
    
    span.result-date {
        font-size: 20px;
    }

    p.empty-message {
        margin-top: 5%;
        font-size:20px;
        text-align: center;
        color: red;
    }

    .wi-50 {
        margin-top: 1.5rem;
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {

    section.filter-section {
        padding-top: 10vh;
    }

    div.align-center-d {
        margin-left: 20%;
        margin-right: 20%;
    }

    div.inline-d {
        display: inline-block;
    }

    div.pull-right-d {
        display: flex;
        justify-content: center;
    }
    
    div.search-btn-container {
        margin-top: 5%;
        float: right;
    }
    
    ul.search-result-list {
        list-style-type: none;
        padding-left: 0;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    span.result-name {
        margin-left: 10%;
        font-size: 24px;
    }
    
    span.result-category {
        margin-right: 10%;
        font-size: 24px;
    }
    
    span.result-place {
        margin-left: 10%;
        font-size: 20px;
    }
    
    span.result-date {
        margin-right: 10%;
        font-size: 20px;
    }

    .w-30 {
        width: 29%;
    }
    
    .w-70{
        width: 70%;
    }
    
    .w-49 {
        width: 49%;
    }
    
    .w-99 {
        width: 99.5%;
    }

    .wi-50 {
        width: 50%;
        margin-top: 1.5rem;
    }

    p.empty-message {
        margin-top: 2%;
        font-size:30px;
        text-align: center;
        color: red;
    }
}