/* General */
.show-desktop {
    display: none !important;
}

body {
    min-height: 100vh;
    flex-direction: column!important;
    -ms-flex-direction: column!important;
    display: flex!important;
    display: -ms-flexbox!important;
}

button.transparent-button {
    background: transparent;
    border: none;
}

button.btn-orange {
    background-color: #EA9C43;
    color: white;
}

a.menu-link:hover {
    color: #EA9C43;
}

div.message-box-success {
    border-width: 0.2em;
    border-color: lightgreen;
}

div.message-box-error {
    border-width: 0.2em;
    border-color: #EA9C43;
}

footer.page-footer {
    background-color: #1B1B1B;
    color:  white;
}

@media only screen and (max-width: 600px) {

    /* Nav bar */
    nav.shared-nav {
        width: 100%;
        background-color: #1B1B1B;
        top: 0;
        z-index: 999;
    }

    img.nav-logo {
        width: 140px;
        height: 50px;
        padding-top: 8%;
        padding-bottom: 8%;
        margin-left: 10px;
    }

    img.nav-icon-bell {
        width: 30px;
        height: 30px;
    }

    img.nav-icon-cart {
        width: 30px;
        height: 30px;
    }

    img.nav-icon-menu {
        width: 30px;
        height: 40px;
    }

    img.trash_bin{
        width: 20px;
        height: 20px;
    }

    div.nav-menu {
        font-size: 20px;
    }

    a.menu-link {
        margin-left: 5%;
        color:white;
    }

    p.menu-greet {
        margin-left: 5%;
        color:white;
    }

    div.login-check {
        margin-top: 4%;
        float: right;
    }

    .footer-copyright {
        font-size: 0.7em;
        text-align: center;
    }

}

/* Desktop */
@media only screen and (min-width: 600px) {
    nav.shared-nav {
        width: 100%;
        background-color: #1B1B1B;
        top: 0;
        z-index: 999;
    }

    img.nav-logo {
        width: 130px;
        height: 40px;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-left: 25px;
    }

    img.nav-icon-bell {
        width: 30px;
        height: 30px;
    }

    img.nav-icon-cart {
        width: 30px;
        height: 30px;
    }

    img.nav-icon-menu {
        width: 40px;
        height: 40px;
    }

    img.trash_bin{
        width: 20px;
        height: 20px;
    }

    div.nav-menu {
        font-size: 20px;
    }

    a.menu-link {
        margin-left: 2%;
        color:white;
    }

    p.menu-greet {
        margin-left: 2%;
        color:white;
    }

    div.login-check {
        margin-top: 4%;
        float: right;
    }

    div.message-box-success {
        border-width: 0.2em;
        border-color: lightgreen;
    }

    div.message-box-error {
        border-width: 0.2em;
        border-color: #EA9C43;
    }
}
