section.events-section {
    margin-top: 12vh;
}

table.user-table {
    font-size: 0.9em;
}

div.dash-counter {
    text-align: center;
}

div.event-header {
    text-align: center;
}

div.event-header > h1 {
    font-size: 2rem;
}

div.event-header > h2 {
    font-size: 1.5rem;
}

div.event-header > h3 {
    font-size: 1.2rem;
}

button.delete-btn {
    margin-top: 3%;
    margin-bottom: 3%;
}

div.event-dash {
    margin-bottom: 3%;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    section {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}