ul.suggest-list {
    position: absolute;
}

li.suggestion {
    position: relative;
    z-index: 999;
}

li.suggestion:hover {
    background-color: #007bff;
    color: white;
}

div.create-container {
    padding-top: 10%;
}

table#artists-table {
    background-color: lightgray;
}

p.error-text {
    color: red;
}

p.annotation {
    font-size: small;
    color: grey;
}

section.create-section {
    margin-top: 15vh;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    
    section.create-section {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
}